<!DOCTYPE html>
<html>
<head>
  <title>Dummy</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if flash[:notice] %>
    <p class="notice"><%= flash[:notice] %></p>
  <% end %>
  <% if flash[:error] %>
    <p class="error"><%= flash[:error] %></p>
  <% end %>
  <p>
    <% if current_user %>
      <%= link_to 'sign out', main_app.destroy_user_session_path, method: 'delete' %>
    <% else %>
      <%= link_to 'sign in', main_app.new_user_session_path %>
    <% end %>
  </p>
  <h1>  PARENT LAYOUT </h1>

<%= yield %>

</body>
</html>
