= content_tag_for :div, post do
  %h2.title= post.title
  %p.dateline= post.pubdate_tag
  -# %p.body= find_and_preserve post.body_to_html
  = link_to 'Edit', edit_admin_post_path(post) if can? :update, post
  = link_to 'Delete', admin_post_path(post), :method => :delete if can? :delete, post

